<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <h1> To-Do App <%= title %></h1>
    <form action="" method="post">
        <label for="description">DESCRIPTION</label>
        <input id="description" type="text" placeholder="What do you want to do ?">
        
        <label for="category">CATEGORY</label>
        <select name="category" id="category">
            <option value="Personal">Personal</option>
            <option value="Work">Work</option>
            <option value="School">School</option>
            <option value="Cleaning">Cleaning</option>
            <option value="Other">Other</option>
        </select>


        <label for="date">DUE DATE</label>
        <input type="date" id="date" name="date">
        

    </form>
</body>
</html>